.uploadzone {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.uploadzone__dropzones {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .uploadzone__dropzones {
        flex-wrap: wrap;
    }
}